(edif in_lvds
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2011 7 31 9 57 46)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-2010.09A-1, mapper mapact, Build 023R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell INBUF_LVDS (cellType GENERIC)
      (property pad_cell (string "true"))
      (property dont_use (integer 1))
      (property dont_touch (string "true"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PADP !PADN"))
 )
           (port PADP (direction INPUT)
           (property is_pad (string "true"))
 )
           (port PADN (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell in_lvds (cellType GENERIC)
       (view def_arch (viewType NETLIST)
         (interface
           (port PADP (direction INPUT))
           (port PADN (direction INPUT))
           (port Y (direction OUTPUT))
         )
         (contents
          (instance Y_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance INBUF_LVDS_0_inst (viewRef prim (cellRef INBUF_LVDS (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net PADP (joined
           (portRef PADP)
           (portRef PADP (instanceRef INBUF_LVDS_0_inst))
          ))
          (net PADN (joined
           (portRef PADN)
           (portRef PADN (instanceRef INBUF_LVDS_0_inst))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net Y_c (joined
           (portRef Y (instanceRef INBUF_LVDS_0_inst))
           (portRef D (instanceRef Y_pad))
          ))
          (net Y (joined
           (portRef PAD (instanceRef Y_pad))
           (portRef Y)
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design in_lvds (cellRef in_lvds (libraryRef work)))
)
